@model HseqCentralApp.ViewModels.DelegatableVM

@using HseqCentralApp.Helpers; 

@{
    ViewBag.Title = "EditApproval";
}

<h2>Edit Approval</h2>

@*@using (Html.BeginForm("AddApproval", "Ncrs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ncr</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.HseqApprovalRequest.DelegatableID)

        @Html.HiddenFor(model => model.HseqApprovalRequest.HseqRecordID)
        @Html.HiddenFor(model => model.HseqApprovalRequest.OwnerID)
        @Html.HiddenFor(model => model.HseqApprovalRequest.DateAssigned)


        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.HseqRecord.HseqCaseFile.CaseNo)
            </dt>
            <dd>
                @Html.ActionLink(Utils.CaseNumberForDisplay(Model.HseqRecord.HseqCaseFile.CaseNo) + "", "Details", "HseqCaseFiles", new { id = Model.HseqRecord.HseqCaseFile.HseqCaseFileID }, null)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HseqRecord.RecordType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HseqRecord.RecordType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HseqRecord.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HseqRecord.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HseqRecord.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HseqRecord.Description)
            </dd>

        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.Title, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HseqApprovalRequest.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" }, style = "width:1150px; height: 50px" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.DateAssigned, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.DateAssigned, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.DateAssigned, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.OwnerID, "Disposition Approver", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HseqApprovalRequest.OwnerID, new SelectList(Model.ApprovalOwners, "HseqUserID", "FullName", Model.HseqApprovalRequest.OwnerID),
                 "Select Owner...", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.OwnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.AssigneeID, "Assigned To", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HseqApprovalRequest.AssigneeID, new SelectList(Model.ApprovalOwners, "HseqUserID", "FullName", Model.HseqApprovalRequest.AssigneeID),
                        "Select Assignee...", htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.AssigneeID, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.DueDate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.HseqApprovalRequest.Status, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Status, "", new { @class = "text-danger" })
            </div>
        </div>        


        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Response, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.HseqApprovalRequest.Response, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Response, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.ResponseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.ResponseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.ResponseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.ResponseComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.ResponseComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.ResponseComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
