@model IEnumerable<HseqCentralApp.Models.HseqApprovalRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Record No")
        </th>

        <th>
            @Html.DisplayName("Record Type")
        </th>

        <th>
            @Html.DisplayName("Assignee")
        </th>

        <th>
            @Html.DisplayName("Owner")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Response)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HseqRecord.RecordNo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HseqRecord.RecordType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Assignee.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateAssignedForDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDateForDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Response)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.DelegatableID }) |*@
            @Html.ActionLink("Edit", "Edit", "HseqApprovalRequests",
                new
                {
                    recordId = item.DelegatableID
                },
                null) |
            @Html.ActionLink("Details", "Details", new { id=item.DelegatableID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DelegatableID })
        </td>
    </tr>
}

</table>
