@model HseqCentralApp.Models.HseqUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HseqUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HseqUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
