@model HseqCentralApp.Models.HseqTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hseq Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Assigned To")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignee.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Record Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HseqRecord.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DelegatableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
