@model HseqCentralApp.Models.HseqApprovalRequest

        <td>
            @Html.DisplayFor(model => model.DateAssignedForDisplay)
        </td>        
        <td>
            @Html.DisplayFor(model => model.Owner.FullName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Assignee.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.DueDateForDisplay)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.ResponseDate)
        </td>
        <td>
            @Html.ActionLink("View", "Details", "HseqApprovalRequests", new { id = Model.DelegatableID }, null)
        </td>