@model HseqCentralApp.Models.HseqRecord
    
<h4>Linked Records</h4>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)

        </th>

        <th></th>
    </tr>



