@{
    ViewBag.Title = "Waiward";
}
<h2>Welcome to HSEQ Central</h2>
<style>
    #apnd div {
        height: 700px;
        width: 100px;
        /*border: 1px solid red;*/
        margin-left: 5px;
        float: left; /*Here you can also use display: inline-block instead of float:left*/
        background: white;
    }
</style>
<div class="row">
    <div id="apnd">
        <div style="width:40%;padding-left:10px">
            <h3> Records Area</h3>
            <br />
            <h4>Case Files</h4>
            @Html.ActionLink("View case Files", "Index", "HseqCaseFiles")
            <br />
            <br />

            <h4> Non-Conformance Record (NCR)</h4>
            @Html.ActionLink("Report a non-conformance", "Create", "Ncrs")
            <br />
            <br />
            @Html.ActionLink("View Existing non-conformance Records", "Index", "Ncrs")
            <br />
            <br />
            <h4> Feedback/Improvement Suggestion (FIS)</h4>
            @Html.ActionLink("Report a Feedback / Improvement Suggestion", "Create", "Fis")
            <br />
            <br />
            @Html.ActionLink("View Existing Feedback / Improvement Suggestions", "Index", "Fis")
            <br />
            <br />
            <h4> Corrective Action Record (CAR)</h4>
            @Html.ActionLink("Report a Corrective Action", "Create", "Cars")
            <br />
            <br />
            @Html.ActionLink("View Existing Corrective Action Records", "Index", "Cars")
            <br />
            <br />
            <h4> Preventive Action Record (PAR)</h4>
            @Html.ActionLink("Report a Preventive Action", "Create", "Pars")
            <br />
            <br />
            @Html.ActionLink("View Existing Preventive Action Records", "Index", "Pars")
            <br />
        </div>

        <div style="width:25%;padding-left:10px">
            <h3> Approvals </h3>
            <br />
            @Html.ActionLink("All Approval Requests", "Index", "HseqApprovalRequests")
            <br />
            <br />
            @Html.ActionLink("Open Actions", "HseqUserApprovalRequest", "HseqApprovalRequests")
            <br />
            <br />

            <h3> Tasks </h3>
            <br />
            @Html.ActionLink("All Tasks", "Index", "HseqTasks")
            <br />
            <br />
            @Html.ActionLink("Open Actions", "HseqTaskRequest", "HseqTasks")
            <br />
            <br />

            <h3> Configurations </h3>
            <br />
            @Html.ActionLink("Discrepancy Type", "Index", "DiscrepancyTypes")
            <br />
            <br />
            @Html.ActionLink("Business Area", "Index", "BusinessAreas")
            <br />
            <br />
            @Html.ActionLink("Disposition Type", "Index", "DispositionTypes")
            <br />
            <br />
            @Html.ActionLink("FIS Category", "Index", "FisCategories")
            <br />
            <br />
            @Html.ActionLink("FIS Codes", "Index", "FisCodes")
            <br />
        </div>

            <div style="width:30%">
            @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <h3> Admin Area</h3>
                        <br />

                        @Html.ActionLink("Manage Groups", "Index", "GroupsAdmin")

                        <br />
                        <br />
                        @Html.ActionLink("Manage Roles", "Index", "RolesAdmin")
                        <br />
                        <br />
                        @Html.ActionLink("Manage Users", "Index", "UsersAdmin")
                        <br />
                        <br />
                        @Html.ActionLink("Manage Disposition Approvers", "Index", "ApproverDispositions")
                        <br />
                        <br />
                        @Html.ActionLink("Manage Application Users", "Index", "HseqUsers")
            }
          }
        </div>
    </div>
</div>
