@{
    ViewBag.Title = "Waiward";
}
<h2>Welcome to HSEQ Central</h2>
<div class="row">
    <br /><br /><br />
    <h4> NCR </h4>
    @Html.ActionLink("Report a non-conformance", "Create", "Ncrs")
    <br /><br /><br />
    @Html.ActionLink("View Existing non-conformance Records", "Index", "Ncrs")
    <br /><br /><br />
    <h4> FIS </h4>
    @Html.ActionLink("Report a Feedback/Improvrment Suggestion", "Create", "Fis")
    <br /><br /><br />
    @Html.ActionLink("View Existing Feedback/Improvrment Suggestions", "Index", "Fis")


    <br /><br /><br />
    <h3> Configurations </h3>
    <br />
    @Html.ActionLink("Discrepancy Type", "Index", "DiscrepancyTypes")
    <br /><br /><br />
</div>