@model IEnumerable<HseqCentralApp.Models.Fis>

@using HseqCentralApp.Helpers; 

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HseqCaseFile.CaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FisCode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Category)
        </th>*@


        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.HseqCaseFile.CaseNo)*@
                @Html.ActionLink(Utils.CaseNumberForDisplay(item.HseqCaseFile.CaseNo) + "", "Details", "HseqCaseFiles", new { id = item.HseqCaseFile.HseqCaseFileID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedForDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FisCode.CodeName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>*@


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Details", "Details", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Create NCR", "CreateLinked", "Ncrs",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "FIS"
                    },
                    null) |
                @Html.ActionLink("Create CAR", "CreateLinked", "Cars",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "FIS"
                    },
                    null) |
                @Html.ActionLink("Create PAR", "CreateLinked", "Pars",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "FIS"
                    },
                    null) |
                @Html.ActionLink("Create Approval Request", "Create", "HseqApprovalRequests",
                    new
                    {
                        recordId = item.HseqRecordID
                    },
                    null) |
                @Html.ActionLink("Create Task", "Create", "HseqTasks",
                    new
                    {
                        recordId = item.HseqRecordID
                    },
                    null)
            </td>
        </tr>
    }
</table>
