@model HseqCentralApp.Models.Par

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Par</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HseqCaseFile.CaseNo)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.HseqCaseFile.CaseNo)*@
            @Html.ActionLink(Model.HseqCaseFile.CaseNo + "", "Details", "HseqCaseFiles", new { id = Model.HseqCaseFile.HseqCaseFileID }, null)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.BusinessArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HseqCaseFile.HseqCaseFileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HseqCaseFile.HseqCaseFileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlfrescoNoderef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlfrescoNoderef)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityCoordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityCoordinator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

    </dl>
    <hr />

    <h4>Linked Items</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.LinkedRecords)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)

                </td>

                <td>
                    @if (String.Equals(item.RecordType.ToString(), "NCR"))
                    {
                        @Html.ActionLink("View Record", "Details", "Ncrs", new { id = item.HseqRecordID }, null)
                    }
                    else if (String.Equals(item.RecordType.ToString(), "FIS"))
                    {
                        @Html.ActionLink("View Record", "Details", "Fis", new { id = item.HseqRecordID }, null)
                    }
                    else if (String.Equals(item.RecordType.ToString(), "CAR"))
                    {
                        @Html.ActionLink("View Record", "Details", "Cars", new { id = item.HseqRecordID }, null)
                    }

                </td>

            </tr>
        }
    </table>

    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HseqRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
