@model IEnumerable<HseqCentralApp.Models.Par>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HseqCaseFile.CaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.HseqCaseFile.CaseNo)*@
                @Html.ActionLink(item.HseqCaseFile.CaseNo + "", "Details", "HseqCaseFiles", new { id = item.HseqCaseFile.HseqCaseFileID }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedForDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Details", "Details", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Create FIS", "CreateLinked", "Fis",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "PAR"
                    },
                    null) |
                @Html.ActionLink("Create NCR", "CreateLinked", "Ncrs",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "PAR"
                    },
                    null) |
                @Html.ActionLink("Create CAR", "CreateLinked", "Cars",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "PAR"
                    },
                    null)
            </td>
        </tr>
    }
</table>
