@model HseqCentralApp.Models.Ncr

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ncr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HseqCaseFile.HseqCaseFileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HseqCaseFile.HseqCaseFileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlfrescoNoderef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlfrescoNoderef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityCoordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityCoordinator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NcrSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NcrSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NcrState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NcrState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscrepancyType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscrepancyType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingNumber)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
