@model HseqCentralApp.Models.Ncr

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Ncr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HseqCaseFile.CaseNo)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.HseqCaseFile.CaseNo)*@
            @Html.ActionLink(Model.HseqCaseFile.CaseNo + "", "Details", "HseqCaseFiles", new { id = Model.HseqCaseFile.HseqCaseFileID }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NcrSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NcrSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NcrState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NcrState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualityCoordinator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualityCoordinator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscrepancyType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscrepancyType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessArea.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessArea.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DispositionType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DispositionType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingNumber)
        </dd>
    </dl>


    <hr />

    <h4>Linked Items</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.LinkedRecords)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)

                </td>

                <td>
                    @if (String.Equals(item.RecordType.ToString(), "FIS"))
                    {

                        @Html.ActionLink("View Record", "Details", "Fis", new { id = item.HseqRecordID }, null)

                    }

                </td>

            </tr>
        }
    </table>

    <hr />


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HseqRecordID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create FIS", "CreateLinked", "Fis",
        new
        {
            recordId = Model.HseqRecordID,
            recordSource = "NCR"
        },
        null)
</p>
