@model HseqCentralApp.ViewModels.NcrVM

@{
    ViewBag.Title = "EditApproval";
}

<h2>EditApproval</h2>

@*@using (Html.BeginForm("AddApproval", "Ncrs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ncr</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.HseqApprovalRequest.DelegatableID)

        @Html.HiddenFor(model => model.Ncr.DiscrepancyTypeID)
        @Html.HiddenFor(model => model.Ncr.DetectedInAreaID)
        @Html.HiddenFor(model => model.Ncr.DetectedInAreaID)
        @Html.HiddenFor(model => model.Ncr.ResponsibleAreaID)
        @Html.HiddenFor(model => model.Ncr.HseqRecordID)
        @Html.HiddenFor(model => model.Ncr.HseqCaseFileID)
        @Html.HiddenFor(model => model.Ncr.AlfrescoNoderef)
        @Html.HiddenFor(model => model.Ncr.DateCreated)
        @Html.HiddenFor(model => model.Ncr.CreatedBy)
        @Html.HiddenFor(model => model.Ncr.DateLastUpdated)
        @Html.HiddenFor(model => model.Ncr.LastUpdatedBy)
        @Html.HiddenFor(model => model.Ncr.RecordType)
        @Html.HiddenFor(model => model.Ncr.NcrSource)
        @Html.HiddenFor(model => model.Ncr.NcrState)
        @Html.HiddenFor(model => model.Ncr.Title)
        @Html.HiddenFor(model => model.Ncr.Description)

        @Html.HiddenFor(model => model.HseqApprovalRequest.AssigneeID)
        @Html.HiddenFor(model => model.HseqApprovalRequest.HseqRecordID)
        @Html.HiddenFor(model => model.HseqApprovalRequest.OwnerID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.HseqCaseFile.CaseNo)
            </dt>
            <dd>
                @Html.ActionLink(Model.Ncr.HseqCaseFile.CaseNo + "", "Details", "HseqCaseFiles", new { id = Model.Ncr.HseqCaseFile.HseqCaseFileID }, null)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.RecordType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.RecordType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.NcrSource)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.NcrSource)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.NcrState)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.NcrState)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.EnteredBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.EnteredBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.ReportedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.ReportedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DiscrepancyType.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.DiscrepancyType.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DetectedInArea.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.DetectedInArea.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.ResponsibleArea.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.ResponsibleArea.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ncr.JobNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.JobNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DrawingNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.DrawingNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DispositionType.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.DispositionType.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DispositionNote)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncr.DispositionNote)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ncr.DateLastUpdated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.DateLastUpdated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ncr.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ncr.LastUpdatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ncr.LastUpdatedBy)
            </dd>

        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HseqApprovalRequest.Description, new { htmlAttributes = new { @class = "form-control" }, style = "width:1150px; height: 50px" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ApproverID, "Disposition Approver", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ApproverID", null, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApproverID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.Response, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.HseqApprovalRequest.Response, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.Response, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.ResponseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.ResponseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.ResponseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HseqApprovalRequest.ResponseComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HseqApprovalRequest.ResponseComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HseqApprovalRequest.ResponseComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
