@model IEnumerable<HseqCentralApp.Models.Ncr>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HseqCaseFile.CaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NcrState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NcrSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DispositionType.Name)
        </th>


        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.HseqCaseFile.CaseNo)*@
                @Html.ActionLink(item.HseqCaseFile.CaseNo + "", "Details", "HseqCaseFiles", new { id = item.HseqCaseFile.HseqCaseFileID }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedForDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NcrState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NcrSource)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DispositionType.Name)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Details", "Details", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Create FIS", "CreateLinked", "Fis",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "NCR"
                    },
                    null) |
                @Html.ActionLink("Create CAR", "CreateLinked", "Cars",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "NCR"
                    },
                    null) |
                @Html.ActionLink("Create PAR", "CreateLinked", "Pars",
                    new
                    {
                        recordId = item.HseqRecordID,
                        recordSource = "NCR"
                    },
                    null) |
                @Html.ActionLink("Link Existing Record", "LinkExistingRecord", new {id = item.HseqRecordID}) |
                @Html.ActionLink("Approval Request", "AddApproval", new { id = item.HseqRecordID }) |
                @Html.ActionLink("Task", "AddTask", new { id = item.HseqRecordID })
            </td>
        </tr>
    }
</table>
