@model HseqCentralApp.Models.HseqCaseFile

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h4>Case File Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlfrescoNoderef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlfrescoNoderef)
        </dd>

        <br/><br />

        <h4>Associated Records </h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Record Type")
                </th>
                <th>
                    @Html.DisplayName("Record No")
                </th>
                <th>
                    @Html.DisplayName("Date Created")
                </th>
                <th>
                    @Html.DisplayName("Title")
                </th>
                <th>
                    @Html.DisplayName("Description")
                </th>

                <th></th>
            </tr>

            @foreach (var item in ViewBag.LinkedRecords)
            {
                <tr>
                    <td>
                        @if (String.Equals(item.RecordType.ToString(), "NCR"))
                        {
                            @Html.ActionLink("NCR", "Details", "Ncrs", new { id = item.HseqRecordID }, null)
                        }
                        else if (String.Equals(item.RecordType.ToString(), "FIS"))
                        {
                            @Html.ActionLink("FIS", "Details", "Fis", new { id = item.HseqRecordID }, null)
                        }
                        else if (String.Equals(item.RecordType.ToString(), "CAR"))
                        {
                            @Html.ActionLink("CAR", "Details", "Cars", new { id = item.HseqRecordID }, null)
                        }
                        else if (String.Equals(item.RecordType.ToString(), "PAR"))
                        {
                            @Html.ActionLink("PAR", "Details", "Pars", new { id = item.HseqRecordID }, null)
                        }

                    </td>
                    <td>
                        @item.RecordNo
                    </td>

                    <td>
                        @item.DateCreatedForDisplay
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>

                </tr>
            }

        </table>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HseqCaseFileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
