@using HseqCentralApp.Helpers; 

@model IEnumerable<HseqCentralApp.Models.HseqCaseFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlfrescoNoderef)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNo, "{xx-xxxx}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlfrescoNoderef)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HseqCaseFileID }) |
                @Html.ActionLink("Details", "Details", new { id = item.HseqCaseFileID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HseqCaseFileID })
            </td>
        </tr>
    }

</table>
